/.vs
/.vscode
/dist
/doc/Private
/CaetanoSoft.Era8bit.Library/bin
/CaetanoSoft.Era8bit.Library/obj
/CaetanoSoft.Graphics.Library/bin
/CaetanoSoft.Graphics.Library/obj
/CaetanoSoft.Utils.Library/bin
/CaetanoSoft.Utils.Library/obj
/DCK_InfoViewer/bin
/DCK_InfoViewer/obj
